@import "tailwindcss";
@import "./reset.css";

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}

body {
    font-family: var(--font-do-hyeon), sans-serif !important;
}